.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.header {
  max-width: 500px;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover_image {
  display: block;
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.text {
  flex: 1;
}

.back_button {
  display: flex;
  font-weight: 600;
  gap: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 18px;
  vertical-align: middle;
}

/* Responsive for Tablets */
@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    max-width: 768px;
    height: 100vh;
  }
}

/* Responsive for Large Screens */
@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    height: 85vh;
  }

  .content {
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    padding: 10px;
  }

  .cover_image {
    margin: 0;
  }
}
